AGENTGATEWAY_LICENSE_KEY=
OPENAI_API_KEY=
F5_AISEC_URL=https://www.us2.calypsoai.app
F5_AISEC_TOKEN=
F5_AISEC_INLINE_PROVIDER=genai-azure-openai
CAI_PROJECT=
OPTION_A_MODEL=gpt-4.1
OPTION_C_MODEL=gpt-5.5

ENABLE_AGENTGATEWAY_UI=true
ENABLE_COST_MANAGEMENT=true
SOLO_UI_VERSION=0.4.8
SOLO_UI_OIDC_ISSUER=
SOLO_UI_BACKEND_CLIENT_ID=kagent-backend
SOLO_UI_FRONTEND_CLIENT_ID=kagent-ui
SOLO_UI_BACKEND_CLIENT_SECRET=
KAGENT_NAMESPACE=kagent
